.container,
.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  margin-bottom: 22px;
}

.btn {
  padding: 10px 20px;
  outline: none;
  background-color: rgb(55, 56, 62);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 21px;
  font-weight: 700;
}

@media screen and (min-width: 681px) and (max-width: 1279px) {
  .container{
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container{
    margin-bottom: 44px;
  }
  .btn {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 24px;
  }
}
